# Neighbs

In [3]:
from koselleck import *

In [4]:
src(to_nbr)

In [5]:
to_nbr('virtue','1770-1775')

                                cdist  count  rank
word   neighbor   period
virtue virtuous   1770-1775  0.286140     10     1
       humanity   1770-1775  0.309745     10     2
       prudence   1770-1775  0.314608     10     3
       wisdom     1770-1775  0.325781     10     4
       piety      1770-1775  0.309852      9     5
...                               ...    ...   ...
       affections 1770-1775  0.384513      1    86
       self       1770-1775  0.385809      1    87
       creator    1770-1775  0.390417      1    88
       exertion   1770-1775  0.395248      1    89
       enjoying   1770-1775  0.398102      1    90

[90 rows x 3 columns]

In [6]:
dfprd=to_nbr('heat','1790-1795',cache=True,max_rank=100)
dfprd

                               cdist  count  rank
word neighbor    period
heat vapour      1790-1795  0.178237     10     1
     fluid       1790-1795  0.199240     10     2
     air         1790-1795  0.212785     10     3
     atmosphere  1790-1795  0.215687     10     4
     particles   1790-1795  0.221490     10     5
...                              ...    ...   ...
     fluids      1790-1795  0.299784      1    66
     planet      1790-1795  0.302456      1    67
     currents    1790-1795  0.307306      1    68
     vibration   1790-1795  0.310775      1    69
     exhalations 1790-1795  0.312941      1    70

[70 rows x 3 columns]

In [7]:
to_nbr('histories','1790-1795',cache=False)

Measuring cosine distances across runs [x1]: 100%|██████████| 10/10 [00:01<00:00,  6.90it/s]

                                     cdist  count  rank
word      neighbor     period
histories antiquities  1790-1795  0.274332     10     1
          catalogue    1790-1795  0.281138     10     2
          memoirs      1790-1795  0.278214      9     3
          notices      1790-1795  0.298038      9     4
          anecdotes    1790-1795  0.305973      9     5
...                                    ...    ...   ...
          dilly        1790-1795  0.329134      3    96
          biographical 1790-1795  0.330551      3    97
          dramatic     1790-1795  0.330567      3    98
          subjoined    1790-1795  0.331339      3    99
          statistical  1790-1795  0.331446      3   100

[100 rows x 3 columns]

In [8]:
src(nbr)

In [9]:
nbr('virtues')

Computing neighborhoods across word-periods [x4]: 100%|██████████| 48/48 [00:00<00:00, 742.37it/s]

                               cdist  count  rank
word    neighbor period
virtues wisdom   1720-1725  0.461895     10     1
        esteem   1720-1725  0.479535     10     2
        piety    1720-1725  0.484710     10     3
        glorious 1720-1725  0.506816     10     4
        prose    1720-1725  0.525910     10     5
...                              ...    ...   ...
        brevity  1955-1960  0.480176      3    96
        retains  1955-1960  0.481022      3    97
        motives  1955-1960  0.481715      3    98
        charm    1955-1960  0.482688      3    99
        moral    1955-1960  0.483537      3   100

[4800 rows x 3 columns]

In [11]:
nbr(get_keywords_l(),num_proc=4,cache_only=True)

Computing neighborhoods across word-periods [x4]: 100%|██████████| 10464/10464 [02:26<00:00, 71.43it/s]

Empty DataFrame
Columns: []
Index: []

In [ ]:
dfkwnbr=nbr(get_keywords_l(),num_proc=4)
dfkwnbr

Computing neighborhoods across word-periods [x4]:   0%|          | 33/10464 [00:35<4:13:36,  1.46s/it]

In [10]:
# nbr(get_keywords_l(),num_proc=4)

Computing neighborhoods across word-periods [x4]: 100%|██████████| 10464/10464 [1:40:42<00:00,  1.73it/s]

                                      cdist  count  rank
word        neighbor    period
anarchist   collette    1885-1890  0.332755      3     1
            treas       1885-1890  0.294562      2     2
            affiliation 1885-1890  0.309330      2     3
            propagation 1885-1890  0.316217      2     4
            droit       1885-1890  0.318118      2     5
...                                     ...    ...   ...
development finance     1955-1960  0.436640      4    96
            irrigation  1955-1960  0.437311      4    97
            rebuilding  1955-1960  0.438582      4    98
            erection    1955-1960  0.438798      4    99
            structure   1955-1960  0.440096      4   100

[820900 rows x 3 columns]

In [ ]:
nbr(get_valid_words(),num_proc=4,cache_only=True)

Computing neighborhoods across word-periods [x4]:  22%|██▏       | 63887/290304 [11:25:46<38:48:54,  1.62it/s]

## Load data

In [ ]:
# dfneighbs = get_all_neighbors()
# dfneighbs

In [ ]:
# dfneighbstr=get_all_neighbors_strsummary(force=True)
# dfneighbstr